<html ng-app="app">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ryan Stong: Web Developer</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/animations.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="../js/vendor/modernizr-2.6.2.min.js"></script>

</head>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <script src="../js/vendor/jquery-1.10.2.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="../js/plugins.js"></script>
        <script src="../js/main.js"></script>
        <!-- Add your site or application content here -->


        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <ul>
              <li>
                <a href='#about'>About</a>
              </li>
              <li>
                <a href='#skills'>Skills</a>
              </li>
              <li>
                <a href='#why-dev'>Why Dev?</a>
              </li>
              <li>
                <a href='#resume'>Resumé</a>
              </li>
              <li>
                <a href='#projects'>Projects</a>
              </li>
              <li>
                <a href='#education'>Edu/EXP</a>
              </li>
            </ul>
          </div>
        </nav>

        <body ng-controller='InfoCtrl as ctrl'>
          <div class='container'>
            <span id='splash-image'></span>
            <div class='splash-text fadeIn'>
              <div class='row'><h1>Ryan Stong</h1></div>
              <div class='row'><h2>Full Stack Dev</h2></div>
              <div class='row contact'>
                <a href='https://www.linkedin.com/in/ryanstong'><i class="fa fa-4x fa-linkedin-square"></i></a>
                <a href='mailto:rvanstong@gmail.com?subject=Would-love-to-talk-to-you!'><i class="fa fa-4x fa-envelope-o"></i></a>
                <a href='https://github.com/descartez'><i class="fa fa-4x fa-github-square"></i></a>
              </div>
            </div>
          </div>
          <div class='tiles'>
            <div ng-repeat='tile in ctrl.tiles'>
              <div id='{{tile.tag}}'class='row tile {{tile.tag}}'>
                <div class='col-md-4'><img ng-src='{{tile.picture}}'></img></div>
                <div class='col-md-8'>
                  <h3>{{tile.title}}</h3>
                  <br>
                  <p>{{tile.content}}</p>
                </div>
              </div>
            </div>
            <div class='row tile' id='{{ctrl.finalTile.tag}}'>
              <div class='col-md-4'><a href="{{ctrl.finalTile.link}}"><img ng-src='{{ctrl.finalTile.picture}}'></img></a></div>
              <div class='col-md-8'>
                <h3>{{ctrl.finalTile.title}}</h3>
                <br>
                <p>{{ctrl.finalTile.content}}</p>
              </div>
            </div>
          </div>

          <div id='projects' class='exp row'>
            <h3 class='col-md-12'>Projects</h3>
            <ul>
              <div class='row col-md-4 proj' ng-repeat='proj in ctrl.projects'>
                <li>
                  <a ng-href='{{proj.link}}'><img ng-src="{{proj.picture}}"></img></a>
                  <h4>{{proj.name}}</h4>
                  <h5><a ng-href='{{proj.link}}'>project</a> / <a href='{{proj.repoLink}}'>repo</a></h5>
                  <p>{{proj.description}}</p>
                  <p><strong>Contributions:</strong>
                    <br>{{proj.contribution}}</p>
                    <p><strong>Technologies:</strong><br>{{proj.tech}}</p>
                  </li>
                </div>
              </ul>
            </div>

            <div id='education' class='education exp row'>
              <h3>Education</h3>
              <ul>
                <div class='col-md-4'ng-repeat='edu in ctrl.education'>
                  <li>
                    <img ng-src="{{edu.picture}}"></img>
                    <h4>{{edu.institution}},</h4>
                    <h5>{{edu.timePeriod}}</h5>
                    <p>{{edu.major}}</p>
                    <p>{{edu.description}}</p>
                  </li>
                </div>
              </ul>
            </div>

            <div id='experience' class='experience exp row'>
              <h3>Experience</h3>
              <ul>
                <div class='col-md-4'ng-repeat='exp in ctrl.experience'>
                  <li>
                    <h4>{{exp.company}},</h4>
                    <h5>{{exp.timePeriod}}</h5>
                    <p>{{exp.position}}</p>
                  </li>
                </div>
              </ul>
            </div>



            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js" ></script>
            <script src="js/ux_resume.js"></script>
          </body>
          </html>
