@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway);

body{
	/*background-color: #b4b4b4;
	background-size: 25%;
	background-image: url("http://descartez.github.io/imgs/pokemon_trainer.png");
	background-position: right top;
	background-repeat: no-repeat;*/
	background: #b4b4b4 url("http://descartez.github.io/imgs/pokemon_trainer.png") fixed no-repeat top right;
	background-size: 25%;
}

#content .contact-pic {
	float: left;
	border-radius: 30%;
	padding-left: 2%;
	padding-right: 2%;
	width:64px;
}

/* Header */

header {
	font-family: 'Expletus Sans', 600;
	font-color: black;
	font-size: 6em;
	margin-top: 5%;
	margin-bottom: 8%;
	float: center;
	text-decoration: none;
	color: black;
	font-family: 'Oswald';
/*	background-size: 20%;
	background-image: url("http://descartez.github.io/imgs/pokemon_trainer.png");
	background-position: right top fixed;
	background-repeat: no-repeat;*/
}

header span {
	font-family: 'Amaranth', 400;
	background-color: #ff4100;
	font-color: #ffffff;
	text-align: center;
	font-family: 'Lobster';
}

header span:hover {
	background-color: #942010;
}

header a{
	text-decoration: none;
	color: black;
}

header a:hover{
	background-color: none;
}


/* Nav */

nav {
	text-decoration: none;
	background-color: #ff524a;
	font-style: sans-serif;
	font-family: Droid Sans;

}

nav ul {
	list-style-type: none;
	float: center;
	text-align: center;


}

nav li{
	float: left;
	margin: 1%;
	display: inline;
	width: 25%;
	box-shadow: 5px 5px 5px grey;
}

nav a{
	font-size: 3em;
	text-decoration: none;
	color: #ffffff;
	text-align: center;
	display: block;
	background-color: #ff524a;
}

nav a:hover{
    background-color: #942010;
}

.profile-pic {
	float: left;
	border-radius: 30%;
	padding-left: 2%;
	padding-right: 2%;
	width:100%;
}

/* Content */

#content {
	display: block;
	float: center;
	width: 65%;
	margin: 0 auto;
	padding: 20px 0px;
	font-size: 1.15em;
	font-family: Raleway;

}

pre {
	background-color: grey;
	padding-top: 15px;
	border-width: 5px;
	border-color: white;
	text-align: left;
	padding-left: 30px;
	box-shadow: 5px 5px 5px grey;
}

article {
 	padding-top: 5%;
 	font-size: 1.15em;
 	padding-right: 2%;
	padding-left: 15px;
	display: block;
}

#content h1{
	text-transform: uppercase;
	background-color: #942010;
	color: white;
	padding: 3%;
	font-size: 1.5em;
	padding-top: 3%;
	text-align: center;
	font-family: Droid Sans;
	box-shadow: 5px 5px 5px grey;

}

#content h2{
	background-color: #942010;
	color: white;
	text-align: center;
	padding: 3%;
	font-size: 1.5em;
	padding-top: 3%;
	font-family: Droid Sans;
	margin-bottom: 0.001%;
	box-shadow: 5px 5px 5px grey;
}

 #content p {
 	padding-top: 5%;
 	padding-bottom: 5%;
 	padding-right: 1%;
	padding-left: 15px;
 	text-align: left;
 	float: center;
 	background-color: white;
 	margin-top: 1%;
 	box-shadow: 5px 5px 5px grey;
 }

 #content ul {
 	list-style-type: none;
 	background-color: white;
 	float: left;
 	padding-bottom: 10%;
 	padding-top: 5%;
 	font-size: 1.15em;
 	padding-right: 2%;
	padding-left: 15px;
	position: relative;
	width: 96%;
 }

#content li img{
 	width: 50%;
 	height: 50%;
 }

#contact ul{
	text-align: center;
}

#contact li {
	display: inline-block;
	width: 15%;
	padding-left: 5%;
	padding-top: 5%;
	text-decoration: none;
}

#contact img {
	width: 30%;
	height: 30%;
}

#gps-header {
    width: 85%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 20px;
    background-color: 
}
      
#gps-header h1 {
text-transform: uppercase;
background-color: #942010;
color: white;
}

#gps-main {
width: 85%;
margin: 0 auto;
padding: 20px 0px;
}

#gps-section article h2 {
font-weight: 300;
background-color: #942010;
color: white;
padding-left: 2%;

}

#gps-section article p {
padding-left: 15px;
}

#gps-reflection article h2 {
font-weight: 300;
background-color: #942010;
color: white;
}

#gps-reflection article p {
padding-left: 15px;
}


 /* Footer */

 footer {
 	text-align: center;
 	float: center;
 	background-color: #942010;
 	color: white
 }