@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Raleway);

* {
	margin: 0; 
	padding: 0; 
}
body { 
	font-size: 0.9em; 
	font-family: 'Raleway';
	background: #121212;
	color: black; 
	padding: 20px;
}
tr { 
	vertical-align: top;
}
article { 
	width: 42%; 
	margin: 1%;
	padding: 1%;
	border: 1px solid white;
	min-width: 100px;
	opacity: 0.8;
	display: inline-block;
	float: left;
}

article:hover {
	opacity: 1;
}

#intro article{
	background-color: none;
	color: #999;
}

#concepts article{
	background-color: #E11000;
}

#shape article{
	background-color: #2F069A;
	color: #999; 
}

#color article{
	background-color: #00AC1E;
}

p { 
	font-size: 1.2em; 
	margin: 0 0 15px 0; 
}
h1 { 
	font-family: 'Oswald'; 
	font-size: 4.0em;
	letter-spacing: -1px; 
	color: #ccc; 
	text-align: center;
	border: 1px solid white;
	padding-bottom: 1%;
	margin-bottom: 3%;
}
h2 { 
	font-family: 'Oswald'; 
	font-size: 3.0em;
	letter-spacing: -1px; 
	color: #ccc; 
	text-align: center;
	padding-bottom: 1%;
}

img {
	border: 1px solid white;
	background-color: white;
	padding: 0.5%;
	width: 90%;
	display: block;
}